/* Default Styling for Page */
* {
    /* border: .5px solid var(--light-blue); */
    margin: 0;
    padding: 0;
    color: var(--dark-grey);
    box-sizing: border-box;
    font-family: Lato, Helvetica, sans-serif;
}


/* Setting Design Pattern Colors */
:root {
    --main-green: #127218;
    --light-green:#7EB281;
    --light-blue: #A0EADE;
    --light-grey: #5C6784;
    --dark-grey: #1D263B;
}

body {
    height: 200vh;
}


/* Header Styling */
.covid {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    align-items: center;
    z-index: 1;
    height: 40px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    transition: all 2s ease;
}

.covid p {
    font-size: 1em;
    letter-spacing: .1em;
    color: rgb(235, 149, 21);
}

#covidBig {
    display: block;
}

#covidSma {
    display: none;
}


/* Navigation Bar */
.nav-bar {
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    transition: opacity .7s ease;
    opacity: 1;
}

.hide {
    opacity: 0;
}

#spruce-logo {
    height: 30px;
    margin-left: 20px;
}

.right-nav-bar {
    list-style: none;
    display: flex;
    float: right;
}

.right-nav-bar li {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-bar-link {
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: relative;
}
.nav-bar-link:hover {
    color: var(--main-green);
}

.nav-bar-link:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--main-green);
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
}

.nav-bar-link:hover:after {
    width: 100%;
    left: 0;
    background: var(--main-green);
}
.nav-bar-button {
    letter-spacing: .1em;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 6px 21px;
    outline: none;
    transition: color 1s ease;
    transition: background-color .5s ease;
}

.nav-bar-button:active {
    outline: none;
}

.nav-bar-button:hover {
    outline: none;
    background-color: white;
    border-color: var(--dark-grey);
    color: var(--dark-grey);
}


/* Body Styling */


/* Welcome Screen Area */
.welcome-screen {
    height: 750px;
    display: grid;
    padding: 130px 5vw;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 'welcome-img welcome-wrd';
}

.welcome-screen-pic-outer {
    grid-area: welcome-img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-screen-words {
    grid-area: welcome-wrd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-screen-pic-outer img {
    height: 45vh;}

.welcome-screen-words p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 35px;
    letter-spacing: .09em;
}

.welcome-screen-words img {
    align-self: flex-start;
}


/* Ingredient Section */
.whats-in-it {
    height: 500px;
}

.section-Header {
    color: var(--main-green);
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 800;
}

.tab {
    margin: 20px 15vw 0 15vw;
    overflow: hidden;
}

.tabButton {
    background-color: var(--main-green);
    letter-spacing: .2em;
    text-transform: uppercase;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    width: 25%;
    padding: 14px;
    transition: 0.5s;
    font-size: 16px;
    border: 0;
    box-shadow:  inset 0 -7px 9px -7px var(--dark-grey);
}

.tabButton:hover {
    background-color: #12721885;
    color: var(--dark-grey);
    border: 0;
}

.tabButton.active {
    background-color: white;
    color: var(--main-green);
    font-weight: 600;
    border: 0;
    box-shadow: 1px 1px var(--dark-grey) inset, -1px 1px var(--dark-grey) inset;
}

.tabcontent {
    display: none;
    box-shadow: 1px -1px var(--dark-grey) inset, -1px -1px var(--dark-grey) inset;
    margin: 0px 15vw 20px 15vw;
    border: 0;
    padding: 40px calc(5vw + 20px);
    height: 300px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'tabcontent-word tabcontent-img';
}

.tabcontent.active{
    display: grid;
}

.tabcontent-word {
    display: flex;
    grid-area: tabcontent-word;
    flex-direction: column;
    justify-content: center;
}

.tabcontent-word h3 {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.tabcontent-word p {
    margin-top: 15px;
    line-height: 30px;
}

.tabcontent-img {
    display: flex;
    grid-area: tabcontent-img;
    justify-content: center;
}

.tabcontent-img img {
    height: 200px;
}


/* Reviews Section */
.testimonials {
    margin-top: 30px;
    height: 600px;
}

.reviewCards {
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    margin-top: 50px;
}

.reviewCard {
    box-shadow: 0px 6px 6px var(--dark-grey);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    padding: 5px 30px;
}

.reviewCard h4 {
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 10px 0px;
}

.reviewCard p {
    font-size: 15px;
    line-height: 20px;
}

.reviewQuote {
    text-align: end;
    margin-top: 20px;
}

.reviewCard img{
    margin: 20px auto;
    height: 40px;
}


/* About Section */
.about {
    height: 600px;
    background-color: white;
}

.aboutArea {
    display: flex;
    margin: 20px 15vw 50px 15vw;
    
}

.aboutArea img {
    height: calc(100px + 30vw);
    max-height: 400px;
}

.aboutWords {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: end;
}

.aboutWords h3{
    margin-top: 100px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.aboutWords p{
    letter-spacing: .05em;
}


/* Subscription Pop Up */

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    transition: opacity .5s;
    opacity: .5;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.subscription1 {
    display: none
}

.subscription {
    display: static;
    margin: 0px auto;
    padding: 50px 20px;
    background: #fff;
    border-radius: 0px;
    height: 350px;
    width:690px;
    z-index: 9999;
    position: relative;
    text-align: center;
    top: 50%;
    position: fixed;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);    
    transform: translateY(-50%);
    right: 0px;
    left: 0;
    box-shadow: 0px 2px 8px var(--dark-grey);
}

.subscription h2 {
    font-weight: 300;
    letter-spacing: .1em;
}

.subExit {
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    background: var(--dark-grey);
    cursor: pointer;
    line-height: .9em;
    color: #fff;
    height: 40px;
    width: 40px;
    outline: none;
}

.subExit:hover {
    color: var(--main-green);
}

.subscription p {
    margin-top: 30px;
}

.subscribeForm {
    margin-top: 50px;
}

#subscribeEmail {
    height: 30px;
    width: 250px;
    font-size: 20px;
    outline: none;
    justify-content: center;
}

.subButton {
    margin-top: 40px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 120px;
    font-size: 13px;
    background-color: var(--main-green);
    color: white;
    cursor: pointer;
    outline: none;
}


/* Back to Top Button */
.topButton {
    display: none;
    position: fixed;
    bottom: 70px;
    color: white;
    right: 40px;
    z-index: 5;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    font-size: 18px;
    width: 130px;
    border: 0px;
    height: 40px;
    background: var(--main-geen);
}

.topButtonActive {
    display: block;
    opacity: .8;
    position: fixed;
    bottom: 25px;
    color: white;
    right: 40px;
    z-index: 5;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    width: 50px;
    border: 0px;
    height: 50px;
    background: var(--dark-grey);
}

.topButtonActive:hover {
    text-decoration: none;
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    background: #FFF;
    cursor: pointer;
    outline: none;
}

.topButtonActive:active {
    outline: none;
}


/* Footer Section */
footer {
    background-color: var(--dark-grey);
    height: 100px;
    display: flex;
    align-items: center;
}

footer h6 {
    margin-left: 20px;
    font-weight: 300;
    letter-spacing: .05em;
    color: rgba(255, 255, 255, 0.521);
}


/* Change Covid Pricing Text on Smaller Screens */
@media screen and (max-width: 750px) {
    #covidBig {
        display: none;
    }
    
    #covidSma {
        display: block;
    }

    .right-nav-bar {
        display: none;
    }

    .nav-bar {
        justify-content: center;
        height: 40px;
    }

    .nav-bar a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #spruce-logo {
        margin-left: 0px;
    }

    .welcome-screen {
        display: block;
    }

    .welcome-screen-words {
        margin-top: 40px;
        text-align: center;
    }

    .welcome-screen-words p{
        font-size: 20px;
        line-height: 25px;
    }

    .welcome-screen-words img{
        margin: 0 auto;
        width: 320px;
    }

    .tabcontent {
        grid-template-columns: 1fr;
    }

    .tabcontent-img {
        display: none;
    }

    .reviewCards {
        display: grid;
    }

    .reviewCard {
        margin-bottom: 30px;
    }

    .about {
        margin-top: 450px;
        height: 400px;
    }
    .aboutArea img{
        display: none;
    }

    .aboutArea *{
        text-align: center;
    }

    .aboutWords {
        margin-top: -80px;
    }

    .subscription {
        width: 400px;
    }
}

@media screen and (max-width: 570px) {
    .topButtonActive {
        display: none;
    }

    .welcome-screen-words img{
        margin: 0 auto;
        width: 280px;
    }

    .welcome-screen-words p{
        font-size: 18px;
        line-height: 20px;
    }

    .about {
        height: 560px;
    }

    .subscription {
        display: none;
    }

    .whats-in-it {
        margin-top: 50px;
        height: 600px;
    }

    .tabcontent-word p {
        line-height: 20px;
    }
    
    .tabButton {
        width: 100%;
    }
    
}